/* Global */
:root {
    /* Color */
    --color-red: #e8344f;
    --color-white: #fffafa;
    --color-black: #212121;
    --color-text: #212121;

    /* Font size */
    --font-xlarge: 92px;
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-max-width: 1200px;
    --size-border-radius: 4px;

    /* Annimation */
    --animation-duration: 250ms;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-translucent-black);
    border-radius: var(--size-border-radius);
}

/* Universal tags */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

/* 
h1,
h2,
h3,
p,
ul {
    margin: 0;
} */

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

/* button {
    background-color: transparent;
    outline: 0;
    border: 0;
} */

/* button:focus {
    outline: 1px solid transparent;
} */

/* Common */
.section {
    text-align: center;
}

/* .title {
    font-size: 2.5rem;
    margin: 1rem 0;
} */

/* .description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
} */

/* Header */
.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: all 300ms ease;
}

.header__logo {
    width: 80px;
    height: 80px;
}

.header__toggle {
    display: none;
    color: var(--color-white);
    font-size: 1.5rem;
    position: absolute;
    top: 1.3rem;
    right: 1rem;
}

.header__menu {
    display: flex;
    gap: 4px;
}

.header__menu__item {
    display: block;
    text-align: center;
    width: 110px;
    padding: 8px 16px;
    margin: 0px 50px 0px 50px;
    font-weight: var(--weight-bold);
    border-radius: var(--size-border-radius);
}

.header__menu__item:hover {
    transform: scale(1.2);
    background-color: var(--color-red);
    color: var(--color-white);
    transition: all var(--animation-duration);
}

.header__menu__item.active {
    border-bottom: 2px solid var(--color-accent);
}

.max-container {
    max-width: var(--size-max-width);
    margin: auto;
}



/* main */

.container {
    margin-top: 200px;
}

.title {
    font-size: 2em;
    text-align: center;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.goal__control {

    width: 790px;
    height: 50px;
    border: none;
    border-bottom: 1px solid rgb(88, 88, 88);
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-left: 80px;
}

table {
    text-align: center;
    width: 1050;
}

th {
    color: rgb(88, 88, 88);
}

.text__primary {
    color: rgb(255, 150, 45);
}

.text__danger {
    color: rgb(255, 94, 0);
}

td {
    height: 50px;
    width: 150px;
}

.input__group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    padding: 1px;
}

.input__group__ch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.form__control__ch {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    width: 700px;
    height: 38px;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 3px;
    padding-left: 8px;
    margin-right: 10px;

}

.input__group__prepend {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 1px;
}

.btn__group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.input__group__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border: 1px solid rgb(88, 88, 88);
    border-radius: 6%;
    text-align: center;
    margin-right: 2px;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    font-size: 14px;
    color: rgb(88, 88, 88);

    font-weight: 700;
}

.input__group__text__goal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: white;
    border: none;
    text-align: center;
    margin-right: 0px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: rgb(255, 150, 45);

    font-weight: 700;
    cursor: pointer;
}

.input__group__text__goals {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: white;
    border: none;
    text-align: center;
    margin-right: 0px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: rgb(255, 94, 0);

    font-weight: 700;
    cursor: pointer;
}

.form__control {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    width: 300px;
    height: 38px;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 3px;
    padding-left: 8px;
    margin-right: 10px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    color: rgb(88, 88, 88);

    margin-right: 2px;

    width: 42px;
    height: 42px;
    font-weight: 700;
    cursor: pointer;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    margin-top: 30px;
}

.to__do {
    margin: 10px 0px;
    font-size: 20px;
}

/* Footer */
#footer {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 1rem;
}

.quote {
    margin-top: 2px;
}
.main {
    margin-bottom: 14px;
}

/* 달력폼 */
/* * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.calendar {
    width: 600px;
    margin: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year-month {
    font-size: 35px;
}

.nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.nav-btn {
    width: 28px;
    height: 30px;
    border: none;
    font-size: 16px;
    line-height: 34px;
    background-color: transparent;
    cursor: pointer;
}

.go-today {
    width: 75px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}

.days {
    display: flex;
    margin: 25px 0 10px;
}

.day {
    width: calc(100% / 7);
    text-align: center;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    height: 500px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
}

.date {
    width: calc(100% / 7);
    padding: 15px;
    text-align: right;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
    color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: #396EE2;
} */