/* 주석 */
/* Global */
:root {
  /* Color */
  --color-red: #e8344f;
  --color-white: #fffafa;
  --color-black: #212121;
  --color-text: #212121;

  /* Font size */
  --font-xlarge: 92px;
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-max-width: 1200px;
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 250ms;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-translucent-black);
  border-radius: var(--size-border-radius);
}

/* Universal tags */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid transparent;
}

/* Common */
.section {
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.description {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

/* Header */
.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: all 300ms ease;
}

.header__logo {
  width: 80px;
  height: 80px;
}

.header__toggle {
  display: none;
  color: var(--color-white);
  font-size: 1.5rem;
  position: absolute;
  top: 1.3rem;
  right: 1rem;
}

.header__menu {
  display: flex;
  gap: 4px;
}

.header__menu__item {
  display: block;
  text-align: center;
  width: 110px;
  padding: 8px 16px;
  margin: 0px 50px 0px 50px;
  font-weight: var(--weight-bold);
  border-radius: var(--size-border-radius);
}

.header__menu__item:hover {
  transform: scale(1.2);
  background-color: var(--color-red);
  color: var(--color-white);
  transition: all var(--animation-duration);
}

.header__menu__item.active {
  border-bottom: 2px solid var(--color-accent);
}

.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}

/* Home */
#home {
  position: relative;
  background-color: var(--color-primary);
  background-image: var(--home-bg-svg);
  color: var(--color-text);
  padding: 1rem 1rem;
  padding-top: 7rem;
  text-align: center;
  overflow: hidden;
}

.home__container {
  position: relative;
  height: 100%;
}

.home__title {
  font-size: var(--font-xlarge);
  margin-top: 150px;
}

.home__description {
  font-size: var(--font-regular);
  margin-top: 250px;
}

.home__news,
.home__food {
  display: inline-block;
  background-color: var(--color-red);
  color: var(--color-white);
  font-weight: var(--weight-bold);
  padding: 0.8rem 2rem;
  margin: 8rem;
  border-radius: var(--size-border-radius);
}

.home__news:hover,
.home__food:hover {
  transform: scale(1.2);
  transition: all var(--animation-duration) ease;
}

/* Footer */
#footer {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 1rem;
}

.quote {
  text-align: center;
  margin-top: 2px;
}
